#canvasContainer {
    border: 1px solid gold;
    min-height: 14vh; 
    height: 70vh;
    width: 53vh; 
    position: relative; 
}

.canvas {
    background-color: rgb(35, 36, 38);
    border: 1px solid red;
    position: absolute; 

}
