#canvasContainer {
    border: 1px solid gold;
    min-height: 14vh; 
    height: 70vh;
    width: 53vh; 
    position: relative; 
}

.canvas {
    background-color: rgba(35, 36, 38, 0);
    /* border: 1px solid red; */
    position: absolute; 

}
